/* GLOBAL */
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  /* background-color: #f3f5f5; */
}

.logo {
  width: 200px;
}

.first-restaurant {
  margin-top: 30px;
  display: flex;
  background-color: white;
}
.cover-style {
  margin-left: 20px;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  background-color: green;
  column-count: 2;
}
p {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-model {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.cart-model > a > button {
  height: 40px;
  margin: 5px;
  width: 340px;
  border-radius: 3px;
  background-color: lightseagreen;
}
.checkout-model {
  display: flex;
  flex-direction: row;
}
