#container {
  width: 1517px;
  margin-left: 10px;
  background-color: lightgray;
  border: solid 1px grey;
}

.logo {
  margin-left: 170px;
  width: 200px;
}

.first-restaurant {
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
}
.cover-style {
  margin-left: 20px;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
